@import "../../../styles/constants.pcss";

.chat-list {
  background: var(--lightbeige);
  height: 100%;
  padding: 0 var(--indentXS);
}

.image-blob {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--grey);

  @media (--tablet) {}

  @media (--desktop) {
    width: 47px;
    height: 47px;
  }
}
