@import "../../styles/constants.pcss";

.user-info-component {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--grey);
}

.user-info__right-side {
  display: flex;
  align-items: center;

  & > input {
    border: none;
    outline: none;
  }
}

.user-info__input {
  font-family: var(--fontPrimary);
  font-size: var(--FontSize13);
  color: var(--grey);
  border: none;
  outline: none;
}
