@import "../../../styles/constants.pcss";

.error-page {
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.error-page__title {
  margin: 0 0 var(--indentM);
}

.error-page__description {
  margin: 0 0 var(--indent5XL);
}
