<div class="container">
  <div class="container__card">
    <div class="registration-page">
      {{{title}}}
      <form action="" class="registration-page__form">
        <div class="form__inputs">
          {{{children}}}
        </div>
        <div class="card__buttons">
          {{{registrationButton}}}
          {{{loginButton}}}
        </div>
      </form>
    </div>
  </div>
</div>
