@import "../../styles/constants.pcss";

.link {
  font-family: var(--fontPrimary);
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;

  text-decoration: none;
  color: #4832D4;


  &--size-xxs {
    font-size: var(--FontSize12);
    line-height: 14px;
  }

  &--size-xs {
    font-size: var(--FontSize13);
    line-height: 14px;
  }

  &--size-s {
    font-size: var(--FontSize14);
    line-height: 14px;
  }

  &--size-m {
    font-size: var(--FontSize20);
    line-height: 20px;
  }
}
